<html>
  <head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="css/dashboard.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="container">
          <a href="/" class="navbar-logo">
            <img src="images/AA.png" alt="imgx" />Food Recipes</a>
          <ul class="navbar-menu">
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contacts">Contact</a></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
          
        </div>
       
        <div class="search-container">
      <form action="/search" method="GET">
    <input type="text" placeholder="Search" id="searchQuery" name="query" required>
    <button type="submit">Search</button>
    </div>
      </nav>  
    </header>
 {{#if message}}
    <p><strong>{{message}}</strong></p>
  {{/if}}
    <main>
      <div >
       
  </form>
        <h1>Categories</h1>
        <ul class="categories-list">
          {{#each categories}}
            <li><a href="/categories/{{this.Type}}">{{this.Type}}</a></li>
          {{/each}}
        </ul>
      </div> 
      <section class="categories">
      <h2>Featured Recipes</h2>
      
        <div class="recipeContainer">
  {{#each recipes}}
          <div class="category">
          <img src="/images/{{ImageName}}" alt="{{this.FoodName}}" />
          <h3>{{this.FoodName}}</h3>
          <p>Type: {{this.Type}}</p>
          <a href="/recipes/{{this.FoodName}}">View Recipe</a>
        </div>
        {{/each}}
        </div>
      
      </section>
    </main>
      <footer>
  <div class="contacts" id="contacts">
    <h3>Contacts</h3>
    <ul>
      <li>Email: AArecipeCorner@gmail.com</li>
      <li>Phone: 9807757773</li>
      <li>Address: Ncit,Balumar,Lalitpur</li>
    </ul>
  </div>
  <div class="about" id="about">
  <h3>About Us</h3>
  <p>Welcome to our recipe viewing website! We are passionate about cooking and sharing delicious recipes from around the world.</p>
  <p>Our mission is to inspire home cooks and food enthusiasts to explore new flavors, try exciting recipes, and create memorable culinary experiences.</p>
  <p>On our platform, you'll find a diverse collection of recipes ranging from traditional classics to innovative creations. Whether you're a beginner or an experienced chef, we have recipes to suit every skill level and taste preference.</p>
  <p>We believe that cooking is an art form that brings people together. It's not just about the end result; it's about the joy of the cooking process, the aromas that fill the kitchen, and the satisfaction of sharing a delicious meal with loved ones.</p>
  <p>Join our community of food lovers, explore our recipe database, and embark on a culinary journey with us. Get ready to discover new flavors, enhance your cooking skills, and create extraordinary meals that will delight your senses.</p>
  <p>Happy cooking!</p>
</div>
        <p>&copy; 2023 Food Recipes. All rights reserved.</p>

</footer>
    
    <script src="app.js"></script>
  </body>
</html>